<h1>Your Catalog</h1>

<% @products.each do |product| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag product.image_url, size: "128" %>
        <div class="caption">
          <h3><%= product.title %></h3>
          <p><%= product.description %></p>
          <p><strong><%= number_to_currency(product.price) %></strong></p>
          <p>
            <a href="#" class="btn btn-primary" role="button">Button</a>
            <a href="#" class="btn btn-default" role="button">Button</a>
          </p>
        </div>
      </div>
    </div>
<% end %>
